html, body, div, img, p, a, span {
	box-sizing: border-box;
	color: #000;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
}
a {
	text-decoration: none;
}

/* - GLOBALS - */
.container {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
/* - end GLOBALS - */

/* - Intro Page - */
.intro {
	width: 100%;
	height: 100%;
	/*opacity: 0;*/
	z-index: 2;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.intro .container {
	position: relative;
	width: 75%;
	height: 300px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.intro .container .face-1 {
	background: url(/assets/imgs/face-1.jpg);
}
.intro .container .face-2 {
	background: url(/assets/imgs/face-2.jpg);
}
.intro .container .face-3 {
	background: url(/assets/imgs/face-3.jpg);
}
.intro .container .face-4 {
	background: url(/assets/imgs/face-4.jpg);
}
.intro .container .face-1,
.intro .container .face-2,
.intro .container .face-3,
.intro .container .face-4 {
	display: block;
	float: left;
	width: 25%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}
/* - end Intro Page - */
